<app-nav-menu></app-nav-menu>
<body>
  <div class="welcomeMsg">
    <h1>Hello!</h1>
    <p>Welcome to the EDI Interface!</p>
    <p>Below is a brief overview of the navigation options.</p>
    <ul>
      <li>
        <strong>Home: </strong>This is your home page. So selecting the <i>Home </i> button will take you back here!
      </li>
      <li>
        <strong>Facilities: </strong>The <i>Facilities </i> dropdown menu will allow you to change the results each table displays according to the facility selected.
      </li>
      <li>
        <strong>Shipping: </strong>The <i>Shipping </i> dropdown menu will give you access to all tables containing shipping information.
        <ul>
          <li>
            <strong>Results: </strong>The <i>Results </i>button will take you to the table that shows the most recent shipping export results.
          </li>
          <li>
            <strong>Label Audit: </strong>The <i>Label Audit </i>button will take you to a page which will allow you to search for label information based off of specific fields.
          </li>
        </ul>
      </li>
      <li>
        <strong>Sales: </strong>The <i>Sales </i> button will take you the table that shows sales requirements.
      </li>
      <li>
        <strong>Intranet: </strong>The <i>Intranet </i>button will take you back to Topre's intranet page.
      </li>
    </ul>
  </div>
</body>
